/* body {
  
  background: #1B1212;
} */


#L {
  
  fill: darkslateblue;
}

.g {
  fill: white;
  
}

.o {
  
  fill: white;
}

#moon {
  
  fill: #eb2632;
  scale: 1;

}

.E {
  
  fill: darkslateblue;
}

.G {
  fill: white ;
  
  
}

.O {
  
 fill: white;
}

.lamppair {
  
  fill: black;
  
}

.lamplight {
  
  fill: yellow;
  stroke: #0D1321;
  
}

.windows path {
  
  fill: darkslateblue;
  
}
